* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body {
    display: grid;
    grid-template:
        "header main" 1fr /
        251px 990px;
    justify-content: center;
}

main {
    border: solid 1px red;
    grid-area: main;

}

header {
    border: solid 1px red;
    grid-area: header;
}

#logo {
    height: 52px;
    padding: 11px;
    margin-bottom:20px;
}

.header-item {
    height: 50px;
    padding: 12px;

    display: grid;
    grid-template-columns: 40px 1fr;

    font-size: 1.3rem;
    text-decoration: none;
}
#tweet-button {
    height: 52px;
    width: 200px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    background-color: #1D9BF0;
    border-radius: 26px;

    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
}

#account-bar {
    height: 64px;
    padding: 6px;

    display: grid;
    grid-template-columns: 42px 1fr 25px;

    font-size: 0.9rem;
    text-decoration: none;

}
#account-bar > img {
    margin-top: 5px;
}
#account-bar > div > p {
    margin: 5px;
}