* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: #D9D9D9;
}

body {
    display: grid;
    grid-template:
        "header main" /
        251px 990px;
    justify-content: center;
}